.inicioMesero{
    -fx-background-color: #3c8030;
}

.cajamenu {
    -fx-font-family: "ui-sans-serif";
    -fx-label-padding: 20px;
    -fx-padding: 20px;
}

/* Estilo de todos los botones */
.button {
    -fx-background-color:  #83A492;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-weight: regular;
    -fx-background-radius: 15;
}

/* Tabla de datos */
.table-view {
    -fx-font-size:15px;
    textfill: black;
    -fx-border-color: #b6b6b6;
    -fx-border-width: 5px;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color:  #b6b6b6;
    -fx-label-padding: 20px;
    -fx-padding: 10px;

}

.table-column {
    -fx-alignment: CENTER;
}
.txtNumeroMesa{
    -fx-text-fill: #333333;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.txtEscribeCategoria{
    -fx-text-fill: #333333;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.cajapanel {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 30px;
}
.TITULOPANEL {
    -fx-text-fill: #333333;
    -fx-font-size: 45px;
    -fx-font-weight: bold;
}
.TITULOMENU {
    -fx-text-fill: #333333;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}
.menuscroller{
    -fx-background-color: #83A492;
    -fx-padding: 20;
}
root{
    -fx-background-color: #83A492;
    -fx-border-radius:20;
    -fx-background-radius: 20;
}